<li>
  <strong><%= task.name %></strong> |
  <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to "Reopen", incomplete_task_path(task), method: :patch %>
</li>
