<li>
  <strong><%= link_to task.name, task_path(task) %></strong> |
  <%= link_to "Edit", edit_task_path(task) %> |
  <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to "Complete", complete_task_path(task), method: :patch %>
</li>
