<h1>Edit a Task on <%= @task.goal.name %></h1>

<%= render(partial: "error_messages", locals: { object: @task }) %>

<%= form_for(@task) do |f| %>
  <%= render(partial: "form_fields", locals: { f: f }) %>
<% end %>
