<h1>Add a Task to <%= @goal.name %></h1>

<%= render(partial: "error_messages", locals: { object: @task }) %>

<%= form_for([@goal, @task]) do |f| %>
  <%= render(partial: "form_fields", locals: { f: f }) %>
<% end %>
