<h1>Hello, <%= current_user.username %></h1>

<h3>Your Current Goals</h3>
  <ul>
    <% @goals.incomplete.each do |goal| %>
      <li><%= link_to goal.name, goal_path(goal) %></li>
    <% end %>
  </ul>

<h3>Your Achievements</h3>
  <ul>
    <% @goals.completed.each do |goal| %>
      <li><%= link_to goal.name, goal_path(goal) %></li>
    <% end %>
  </ul>

<p><%= link_to "Create a Goal", new_goal_path(current_user) %></p>
