<h1>Hello, <%= current_user.username %></h1>

<h3>Your Current Goals</h3>
  <ul>
    <li><%= render(@incomplete_goals) || "No goals in progress" %></li>
  </ul>

<h3>Your Achievements</h3>
  <ul>
    <li><%= render(@completed_goals) || "No completed goals available" %></li>
  </ul>

<p><%= link_to "Create a Goal", new_goal_path %></p>
