<h1>Welcome to Goal Tracker</h1>

<p>
  Goal Tracker is a handy app for recording and managing your goals.<br />
  Easily keep track of the tasks you need to complete in order to reach your goals.<br />
  Accomplished goals and tasks are logged, so you can always look back at your achievements.
</p>

<h2>Need inspiration? Check out some recently created goals:</h2>
<ul>
  <%= render(partial: "goals/public_goal", collection: @recently_created_goals, as: :goal) || content_tag(:li, "None available... be the first!") %>
</ul>

<% unless logged_in? %>
  <div class="links">Please <%= link_to "Signup", new_user_path %> or <%= link_to "Login", login_path %> or <%= link_to('Login with Facebook!', '/auth/facebook') %></div>
<% end %>
