<h1><%= @category.name %> category</h1>

<h2>Recently Created Goals In This Category</h2>
<ul>
  <%= render(partial: "goals/public_goal", collection: @recently_created_goals, as: :goal) || content_tag(:li, "None available... be the first!") %>
</ul>
